/* SETTINGS SIDEBAR ICONS */
[aria-label=USER_SETTINGS] .sidebar-CFHs9e .item-PXvHYJ {
  padding-left: 50px !important;
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e .item-PXvHYJ:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 15px;
  margin-top: -2px;
}

/* Hover Animation*/
/*[aria-label=USER_SETTINGS] .sidebar-CFHs9e .item-PXvHYJ:hover:before {
  transform: rotateY(180deg);
  transition: all 0.15s ease-in-out;
}*/

/*User Settings*/
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=my-account-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/user-settings/my-account.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=profile-customization-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/user-settings/user-profile.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="privacy-&-safety-tab"].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/user-settings/privacy-safety.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=authorized-apps-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/user-settings/authorized-apps.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=connections-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/user-settings/connections.svg);
}

/*Payment Settings*/
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=subscriptions-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/payment-settings/subscriptions.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=discord-nitro-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/payment-settings/discord-nitro.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=nitro-server-boost-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/payment-settings/server-boost.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=library-inventory-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/payment-settings/gift-inventory.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=billing-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/payment-settings/billing.svg);
}

/*App Settings*/
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=appearance-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/app-settings/appearance.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=accessibility-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/app-settings/accessibility.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="voice-&-video-tab"].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/app-settings/voice-%26-video.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="text-&-images-tab"].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/app-settings/text-%26-images.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=notifications-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/app-settings/notifications.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=keybinds-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/app-settings/keybinds.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=language-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/app-settings/language.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=windows-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/windows.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=linux-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/linux.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=streamer-mode-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/app-settings/streamer-mode.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=advanced-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/app-settings/advanced.svg);
}

/*Activity Settings*/
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=game-activity-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/activity-settings/activity-status.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=overlay-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/activity-settings/game-overlay.svg);
}

/*BetterDiscord*/
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=settings-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/betterdiscord/settings.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=emotes-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/betterdiscord/emotes.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=customcss-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/betterdiscord/custom-css.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=plugins-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/betterdiscord/plugins.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=themes-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/betterdiscord/themes.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=pluginrepo-tab].item-PXvHYJ:before {
  background-image: url();
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=themerepo-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/betterdiscord/theme-repo.svg);
}

/*Rest*/
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=changelog-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/misc/changelog.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=hypesquad-online-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/misc/hypesquad.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=experiments-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/misc/experiments.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=developer-options-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/misc/developer-options.svg);
}

/*Log Out*/
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=logout-tab].item-PXvHYJ:before {
  background-image: url(https://randomfly1.github.io/Settings-Icons/icons/misc/logout.svg);
}

.icon-Zc-uZZ,
.icon-3Povsy {
  margin-right: 15px;
}
